.anasayfa {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  overflow: hidden;
  background: linear-gradient(90deg, #ff00ff, #00ffff);
  background-size: 200% 200%;
  animation: arka-dalga 10s infinite linear;
}

@keyframes arka-dalga {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


.yazisabitle {
position: fixed;
top: 0;
  }